@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
    background: #04223E;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

.navbar {
  list-style-type: none;
  padding: 5px;
}

a {
    text-decoration: none;
    color: #FFF;
    padding: 5px;
  }
  
  a:hover, button:hover {
    opacity: .7;
  }

.navbar {
  list-style-type: none;
  padding: 5px;
}

.navbar .nav-item:not(:last-child) {
  float: left;
  padding: 10px;
}

.navbar .nav-item:last-child {
  float: right;
  padding: 10px 15px;
  margin: 10px;
  background-color: #F47850;
  border-radius: 10px;
}
  
button {
    color: #04223e;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .hero-section {
    background-color: #04223E;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10;
    border-radius: 0 0 50px 50px;
  }

.hero-title {
  margin: 15px;
}

.hero-description {
  margin: 20px;
}

.hero-btn {
  background: linear-gradient(45deg, #F47850, #FFA93A);
}
.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
  }
  .txt{
    font-size: 16px;
    color: #3500bb;
    }
  .card-header{
    background: #04223E;
    padding: 60px 40px;
  }
  
  .pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #a1d0ff, #001aff);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
  }
  
  @keyframes animated-gradient{
    25%{
      background-position: left bottom;
    }
    50%{
      background-position: right bottom;
    }
    75%{
      background-position: right top;
    }
    100%{
      background-position: left top;
    }
  }
  
  .pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name{
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .desc{
    font-size: 18px;
    color: #e66767;
  }
  
  .sm{
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  
  .sm a{
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
  }
  
  .sm a:hover{
    color: #e66767;
  }
  
  .contact-btn{
    display: inline-block;
    padding: 12px 50px;
    color: #e66767;
    border: 2px solid #e66767;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
  }
  
  .contact-btn:hover{
    background: #e66767;
    color: #f2f2f2;
  }
  
  .card-footer{
    background: #f4f4f4;
    padding: 60px 10px;
  }
  
  .numbers{
    display: flex;
    align-items: center;
  }
  
  .item{
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;
  }
  
  .item span{
    display: block;
    color: #2c3a47;
    font-size: 30px;
  }
  
  .border{
    width: 1px;
    height: 30px;
    background: #bbb;
  }

.s-m-title {
  margin: 20px;
}

.s-m-descritpion {
  margin: 0 0 40px 0;
}

.s-m-btn {
  border: 2px solid #03192e;
  color: #03192e;
  padding: 8px 20px;
  background: 0;
}

.s-m-btn-2 {
  background-color: #03192e;
  color: #F47850;
}
.feutures-section {
    padding: 85px 60px;
    background-image: url("./img/wave.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }
  
  .feutures-card {
    padding: 15px;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -15px;
  }
  
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  
  }
  
  @media (min-width: 576px) {
    .card {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .statics-rows {
      flex: 100%;
      -ms-flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .card {
      -ms-flex: 0 0 45%;
      flex: 0 0 45%;
      max-width: 45%;
    }
    .statics-rows {
      flex: 33.33%;
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }
  }
  
  @media (min-width: 992px) {
    .card {
      -ms-flex: 0 0 45%;
       flex: 0 0 45%; 
       max-width: 45%;
    }
    .statics-rows {
      flex: 33.33%;
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }
  }
  .normal-breadcrumb {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .normal__breadcrumb__text h2 {
    color: #ffffff;
    font-size: 48px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    margin-bottom: 22px;
  }
  
  .normal__breadcrumb__text p {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 0;
  }
  .blog {
    padding-top: 70px;
    padding-bottom: 90px;
}
.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
feuille de style user-agent
section {
    display: block;
}
.post-preview .post-img {
  border-radius: 5px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
*, ::after, ::before {
  box-sizing: border-box;
}