@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --navbar-color: #1C256A;
  --dark-text-color: #333333;
  --bright-text-color: #B8C7E2;
  --card-color: #1C256A;
  --footer-color: #454545;
  --inline-text-color: #2063A5;
  --categorylist-color: #4853AB;
  --theme-em-gradient: linear-gradient(90deg,#7209d4,#2832d4 33%,#00a5b2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

body {
  color: var(--bright-text-color);
  font-family: "Anton", sans-serif;
  background-color: var(--navbar-color);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--inline-text-color);
}

p {
  text-decoration: none;
  color: var(--inline-text-color);
}

.selected {
  border-bottom: 2px var(--bright-text-color) double;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  color: var(--bright-text-color);
}

p {
  margin: 10px 0;
}

textarea {
  cursor: auto;
  font-family: "Anton", sans-serif;
  color: var(--inline-text-color);
  background-color: var(--card-color);
  width: 100%;
  border: 1px solid;
  resize: none;
  padding: 10px;
  outline: none;
  border-color: var(--inline-text-color);
  border-radius: 5px;
}

input[type="textbox"],
input[type="url"],
input[type="email"],
input[type="file"] {
  font-family: "Anton", sans-serif;
  color: var(--inline-text-color);
  background-color: var(--card-color);
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid;
  border-color: var(--inline-text-color);
  border-radius: 5px;
}

img.left {
  float: left;
}

img.right {
  float: right;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-text-color);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.logo {
  background-image: url(assets\avatar.png);
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  position: relative;
  top: 8px;
}

code {
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

/* Navigationbar */

.navbar {
  background-color: var(--navbar-color);
  color: var(--bright-text-color);
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--bright-text-color);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px var(--bright-text-color) double;
}

.navbar .flex {
  justify-content: space-between;
}

/* Error */

.error h1 {
  margin-top: 15%;
  font-size: 100px;
  text-align: center;
}

.error a {
  color: var(--bright-text-color);
  text-decoration: underline var(--bright-text-color) solid;
}

.error a:hover {
  text-decoration: underline var(--bright-text-color) none;
}

.error p {
  text-align: center;
  font-size: 50px;
}

/* Util */

div.container {
  max-width: 1500px;
  margin: 0 auto;
  overflow: auto;
  padding: 6px;
}

div.container.center {
  padding: 20px;
}

.card {
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 0 3px 10px #78ADE5;
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--navbar-color);
  color: var(--bright-text-color);
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--bright-text-color);
  color: var(--dark-text-color);
}

.btn-outline {
  background-color: transparent;
  border-radius: 1;
  border: 1px var(--bright-text-color) solid;
}

.btn-outline:hover {
  background-color: var(--bright-text-color);
  color: var(--dark-text-color);
}

.btn-primary {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--categorylist-color);
  color: var(--bright-text-color);
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  cursor: pointer;
  transform: scale(0.9);
}

.btn-disabled {
  color: grey;
  border: 1px solid grey;
  pointer-events: none;
  cursor: default;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h2.title {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 110;
}

p.footer {
  font-size: smaller;
}

.selected {
  cursor: default;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: var(--footer-color);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 500;
  color: var(--card-color);
  display: none;
}

input[type="checkbox"]:hover {
  background-color: var(--card-color);
}

input[type="checkbox"]:checked {
  background-color: #00ff00;
}

input[type="checkbox"]:checked::after {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 120;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 70%;
}

.close-modal {
  color: #ccc;
  float: right;
  font-size: 40px;
  cursor: pointer;
}

.close-modal:hover {
  color: #000;
  text-decoration: none;
}

/* Mobile */

.mobile_device_650px {
  display: none;
}

@media only screen and (max-device-width: 650px) {
  .mobile_device_650px {
    display: block;
  }

  .desktop {
    display: none;
  }

  .mobile-secret {
    position: relative;
    top: 250px;
  }

  .mobile-secret p {
    color: var(--bright-text-color);
  }
}